<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
            <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-4">
                    <h2 style="margin-top: 150px; font-weight: bolder;">Sign In</h2>
                </div>
                <div class="col-lg-4"></div>
            </div>
            <div class="form-group">
                <label for="usr">Name:</label>
                <input type="text" class="form-control" id="usr">
              </div>
              <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd">
              </div>
              <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-4">
                    <button type="button" class="btn btn-primary">Sign In</button>
                </div>
                <div class="col-lg-4"></div>
            </div>
    </div>
    <div class="col-lg-4"></div>
  </div>
